<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Courses | Tutor Scheduling</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">

  </head>

  <body>
    <div class="courses">
      <a href="/"class="back-button">Back</a>
      <a href="/profile" onclick="myProfile()"><div id="username-comments"></div></a>
      <a href="/"class="log-out-button">Log Out</a>
     <h1>Which Class?</h1>
      <form action="{{ url_for('comments') }}" class="courses-form" method="post">
        <div class="courses-page">
          <a id="course-link0"><h2 id="course0"></h2></a>
          <p><div id="course-day0"></div><div id="course-time0"></div></p>
          <a id="course-link1"><h2 id="course1"></h2></a>
          <p><div id="course-day1"></div><div id="course-time1"></div></p>
          <a id="course-link2"><h2 id="course2"></h2></a>
          <p><div id="course-day2"></div><div id="course-time2"></div></p>
          <a id="course-link3"><h2 id="course3"></h2></a>
          <p><div id="course-day3"></div><div id="course-time3"></div></p>
        </div>
    </div>
    <script>
      courses = {{ courses | safe }}
      days = {{ days | safe }}
      times = {{ times | safe }}
      username = "{{ username }}"
    </script>
    <script src="{{url_for('static', filename='courses.js')}}"></script>
    <script src="{{url_for('static', filename='comments.js')}}"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  </body>

</html>
