<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Profile | Tutor Scheduling</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">


  </head>

  <body>
    <a href="/courses"class="back-button">Back</a>
    <a href="/profile" onclick="myProfile()"><div id="username-comments"></div></a>
      <a href="/"class="log-out-button">Log Out</a>
    <div class="profile">

      <h1>Profile</h1>
      <div class="profile-block">
          <div class="profile-pic">
            <p><img src="../static/css/img/flash.png"/></p>
          </div>
          <div class="profile-data">
              <div id="name"><h2>Name: </h2><h2 class="name-text"></h2></div>
              <div id="id"><h2>KSU ID: </h2><h2 class="id-text"></h2></div>
              <div id="email"><h2>Email: </h2><h2 class="email-text"></h2></div>
              <div id="phone"><h2>Phone: </h2><h2 class="phone-text"></h2></div>
              <div id="scheduled"><h2>Scheduled For: </h2><h2 class="scheduled-text"></h2></div>
          </div>
      </div>

    </div>
    <script>
        var id = "{{ id | safe }}"
        var email = "{{ email | safe }}"
        var phone = "{{ phone | safe }}"
        var scheduled = "{{ scheduled | safe }}"
        alert(id);
    </script>
    <script src="{{url_for('static', filename='comments.js')}}"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/jquery.dlmenu.js"></script>
    <script src="js/pagetransitions.js"></script>
  </body>

</html>
